# Папка .idea, чтобы предотвратить конфликты пользовательских настроек
.idea/

# Исключения: включаем только общие настройки проекта
!.idea/misc.xml
!.idea/modules.xml
!.idea/vcs.xml
!.idea/encodings.xml
!.idea/inspectionProfiles/
!.idea/libraries/

# Исключаем пользовательские настройки рабочей среды
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/

# Исключаем настройки пользовательских конфигураций запуска
.idea/runConfigurations/
